<a href="https://colab.research.google.com/github/VinhDevNguyen/Project_Alpha/blob/master/Data_Analyze.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 ## Import packages and read csv file

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('./booking_train_set.csv')

 ## Analyze data
 ### 1. About the dataset

In [ ]:
df.head()

,Unnamed: 0,user_id,checkin,checkout,city_id,device_class,affiliate_id,booker_country,hotel_country,utrip_id
0,0,1006220,2016-04-09,2016-04-11,31114,desktop,384,Gondal,Gondal,1006220_1
1,1,1006220,2016-04-11,2016-04-12,39641,desktop,384,Gondal,Gondal,1006220_1
2,2,1006220,2016-04-12,2016-04-16,20232,desktop,384,Gondal,Glubbdubdrib,1006220_1
3,3,1006220,2016-04-16,2016-04-17,24144,desktop,384,Gondal,Gondal,1006220_1
4,4,1010293,2016-07-09,2016-07-10,5325,mobile,359,The Devilfire Empire,Cobra Island,1010293_1

 ### 2. Size of dataset

In [ ]:
len(df)

1166835

 ### 3. Unique values

In [ ]:
feature = ["city_id", "affiliate_id", "booker_country", "hotel_country", "utrip_id"]
for i in range(len(feature)):
    len_feature = len(df[feature[i]].unique())
    print(f"There are {len_feature} {feature[i]}")

There are 39901 city_id
There are 3254 affiliate_id
There are 5 booker_country
There are 195 hotel_country
There are 217686 utrip_id

In [ ]:
trip_count = df["utrip_id"].value_counts()
trip_count

3635431_3     48
2209265_10    45
433188_8      44
5231140_3     41
2209265_15    41
              ..
2330892_2      1
2207663_1      1
2395444_1      1
4238827_1      1
3838038_2      1
Name: utrip_id, Length: 217686, dtype: int64

 Find out the max trip

In [ ]:
max_trip = df.index[df['utrip_id'] == trip_count.index[0]].tolist()
df[max_trip[0]:max_trip[-1]]

,Unnamed: 0,user_id,checkin,checkout,city_id,device_class,affiliate_id,booker_country,hotel_country,utrip_id
49642,49642,3635431,2016-04-01,2016-04-02,47319,mobile,9924,Gondal,Gondal,3635431_3
49643,49643,3635431,2016-04-02,2016-04-03,36063,mobile,9924,Gondal,Gondal,3635431_3
49644,49644,3635431,2016-04-03,2016-04-04,36063,mobile,384,Gondal,Gondal,3635431_3
49645,49645,3635431,2016-04-04,2016-04-05,36063,mobile,9924,Gondal,Gondal,3635431_3
49646,49646,3635431,2016-04-05,2016-04-06,3109,mobile,9924,Gondal,Gondal,3635431_3
49647,49647,3635431,2016-04-06,2016-04-07,3109,mobile,9924,Gondal,Gondal,3635431_3
49648,49648,3635431,2016-04-07,2016-04-08,3109,mobile,9924,Gondal,Gondal,3635431_3
49649,49649,3635431,2016-04-08,2016-04-09,3109,mobile,9924,Gondal,Gondal,3635431_3
49650,49650,3635431,2016-04-09,2016-04-10,3109,mobile,9924,Gondal,Gondal,3635431_3
49651,49651,3635431,2016-04-10,2016-04-11,3109,mobile,9924,Gondal,Gondal,3635431_3
49652,49652,3635431,2016-04-11,2016-04-12,43217,mobile,9924,Gondal,Gondal,3635431_3
49653,49653,3635431,2016-04-12,2016-04-13,36063,mobile,9924,Gondal,Gondal,3635431_3
49654,49654,3635431,2016-04-13,2016-04-14,36063,mobile,9924,Gondal,Gondal,3635431_3
49655,49655,3635431,2016-04-14,2016-04-15,36063,mobile,9924,Gondal,Gondal,3635431_3
49656,49656,3635431,2016-04-15,2016-04-16,36063,mobile,9924,Gondal,Gondal,3635431_3
49657,49657,3635431,2016-04-16,2016-04-17,36063,mobile,9924,Gondal,Gondal,3635431_3
49658,49658,3635431,2016-04-17,2016-04-18,36063,mobile,9924,Gondal,Gondal,3635431_3
49659,49659,3635431,2016-04-18,2016-04-19,36063,mobile,9924,Gondal,Gondal,3635431_3
49660,49660,3635431,2016-04-19,2016-04-20,43217,mobile,9924,Gondal,Gondal,3635431_3
49661,49661,3635431,2016-04-20,2016-04-21,43217,mobile,9924,Gondal,Gondal,3635431_3
49662,49662,3635431,2016-04-21,2016-04-22,43217,mobile,9924,Gondal,Gondal,3635431_3
49663,49663,3635431,2016-04-22,2016-04-23,43217,mobile,9924,Gondal,Gondal,3635431_3
49664,49664,3635431,2016-04-23,2016-04-24,43217,mobile,9924,Gondal,Gondal,3635431_3
49665,49665,3635431,2016-04-24,2016-04-25,43217,mobile,9924,Gondal,Gondal,3635431_3
49666,49666,3635431,2016-04-25,2016-04-26,43217,mobile,9924,Gondal,Gondal,3635431_3
49667,49667,3635431,2016-04-26,2016-04-27,43217,mobile,9924,Gondal,Gondal,3635431_3
49668,49668,3635431,2016-04-27,2016-04-28,43217,mobile,2436,Gondal,Gondal,3635431_3
49669,49669,3635431,2016-04-28,2016-04-29,43217,mobile,9924,Gondal,Gondal,3635431_3
49670,49670,3635431,2016-04-29,2016-04-30,43217,mobile,9924,Gondal,Gondal,3635431_3
49671,49671,3635431,2016-04-30,2016-05-01,43217,mobile,9924,Gondal,Gondal,3635431_3
49672,49672,3635431,2016-05-01,2016-05-02,43217,mobile,9924,Gondal,Gondal,3635431_3
49673,49673,3635431,2016-05-02,2016-05-03,36063,mobile,9924,Gondal,Gondal,3635431_3
49674,49674,3635431,2016-05-03,2016-05-04,47319,mobile,451,Gondal,Gondal,3635431_3
49675,49675,3635431,2016-05-04,2016-05-05,36063,mobile,9924,Gondal,Gondal,3635431_3
49676,49676,3635431,2016-05-05,2016-05-06,36063,mobile,9924,Gondal,Gondal,3635431_3
49677,49677,3635431,2016-05-06,2016-05-07,36063,mobile,9924,Gondal,Gondal,3635431_3
49678,49678,3635431,2016-05-07,2016-05-08,36063,mobile,9924,Gondal,Gondal,3635431_3
49679,49679,3635431,2016-05-08,2016-05-09,36063,mobile,9924,Gondal,Gondal,3635431_3
49680,49680,3635431,2016-05-09,2016-05-10,36063,mobile,9924,Gondal,Gondal,3635431_3
49681,49681,3635431,2016-05-10,2016-05-11,36063,mobile,9924,Gondal,Gondal,3635431_3
49682,49682,3635431,2016-05-11,2016-05-12,36063,mobile,9924,Gondal,Gondal,3635431_3
49683,49683,3635431,2016-05-12,2016-05-13,36063,mobile,9924,Gondal,Gondal,3635431_3
49684,49684,3635431,2016-05-13,2016-05-14,36063,mobile,9924,Gondal,Gondal,3635431_3
49685,49685,3635431,2016-05-14,2016-05-15,36063,mobile,9924,Gondal,Gondal,3635431_3
49686,49686,3635431,2016-05-15,2016-05-16,36063,mobile,9924,Gondal,Gondal,3635431_3
49687,49687,3635431,2016-05-16,2016-05-17,36063,mobile,9924,Gondal,Gondal,3635431_3
49688,49688,3635431,2016-05-17,2016-05-19,36063,mobile,9924,Gondal,Gondal,3635431_3